<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="1">
    <parameter name="browser" value="chrome"/>
    <test  name="Test One">
        <classes>
            <class name="com.qa.testcases.TestingSeleniumGridTest">
                <methods>
                    <include name="fullFlow"/>
                </methods>
            </class>
        </classes>
    </test>
    <test  name="Test Two">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.qa.testcases.TestingSeleniumGridTest">
                <methods>
                    <include name="fullFlow"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>